<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>야근일지</title>
    <meta name="description" content="">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrheader" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css}">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body id="bodyWrap">
<div th:insert="~{fragments/header::header}"></div>
<div class="container">
    <div layout:fragment="content"></div>
</div>
<div th:insert="~{fragments/footer::footer}"></div>
<script th:src="@{/js/jquery-3.3.1.js}"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
<script th:src="@{/js/ajaxSend.js}"></script>
<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script th:src="@{/js/sweetalert2.all.min.js}"></script>
<script src ="https://cdn.jsdelivr.net/npm/promise-polyfill@7.1.0/dist/promise.min.js"></script>
<script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
<!-- custom javascript -->
<th:block layout:fragment="script"></th:block>
</body>

</html>