<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/BasicTemplate}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">

    <h2 th:text="${dto.group_name}"></h2>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            과제정보
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <table class="tg">
                            <tr>
                                <th class="tg-c3ow" colspan="5">﻿야 근 일 지</th>
                            </tr>
                            <tr>
                                <td class="tg-llyw">연구책임자</td>
                                <td class="tg-llyw">소속</td>
                                <td class="tg-0pky" th:text="${dto.group_officer_dept}"></td>
                                <td class="tg-llyw">성명</td>
                                <td class="tg-0pky" th:text="${dto.group_officer_dept}"></td>
                            </tr>
                            <tr>
                                <td class="tg-llyw">지원 기관</td>
                                <td class="tg-0pky" colspan="2" th:text="${dto.group_support}"></td>
                                <td class="tg-llyw">연구 기간</td>
                                <td class="tg-0pky" th:text="${dto.group_period}"></td>
                            </tr>
                            <tr>
                                <td class="tg-llyw">연구 과제명</td>
                                <td class="tg-0pky" colspan="4" th:text="${dto.group_subject_name}"></td>
                            </tr>
                            <tr>
                                <td class="tg-llyw">야근 장소</td>
                                <td class="tg-0pky" colspan="4" th:text="${dto.group_place}"></td>
                            </tr>
                        </table>
                        <table class="tg people">
                            <tr>
                                <td class="tg-llyw" id="sideTitle" th:rowspan="${#lists.size(dto.peopleList) + 1 }">야근자 명단</td>
                                <td class="tg-0pky header">직책</td>
                                <td class="tg-0pky header">성명</td>
                                <td class="tg-0pky header">업무내용</td>
                            </tr>
                            <tr class="addRow" th:each="p,index:${dto.peopleList}">
                                <td class="tg-0pky" th:text="${p.people_position}"></td>
                                <td class="tg-0pky" th:text="${p.people_name}"></td>
                                <td class="tg-0pky" th:text="${p.people_duties}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            영수증 정보
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#receiptCollapse" aria-expanded="false" aria-controls="collapseExample">내역 펼쳐보기</button>

                        <div class="collapse" id="receiptCollapse">
                            <table class="receiptTable table table-bordered">
                                <thead>
                                    <tr class="headerRow">
                                        <th>사용일자</th>
                                        <th>거래처</th>
                                        <th>사용금액</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="addRow" th:each="r,status : ${dto.receiptList}" th:if="${dto.receiptList != null && #lists.size(dto.receiptList) > 0}">
                                        <td th:text="${r.receipt_date}"></td>
                                        <td th:text="${r.receipt_name}"></td>
                                        <td th:text="${r.receipt_amount}"></td>
                                    </tr>
                                    <tr th:unless="${dto.receiptList != null && #lists.size(dto.receiptList) > 0}">
                                        <td colspan="3">영수증 데이터가 없습니다.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <button type="button" onclick="down()" class="download">sample_야근식대_영수증.xlsx</button>

                        <form id="excelUploadForm" name="excelUploadForm" enctype="multipart/form-data" method="post" action="/excelUploadAjax">
                            <div class="fileBox">
                                <input type="text" class="fileName pointer" readonly="readonly">
                                <label for="excelFile" class="btn_file pointer fileChanger">찾아보기</label>
                                <input type="file" id="excelFile" name="excelFile" class="uploadBtn">
                                <input type="hidden" name="groupId" id="groupId" th:value="${dto.groupId}">
                                <button type="button" class="btn_file pointer" onclick="check()">
                                    <span>내역 변경</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    <section id="utilSection">
        <form action="/save" method="post" id="utilForm" th:if="${dto.receiptList != null && #lists.size(dto.receiptList) > 0}">
            <input type="hidden" name="groupId" th:value="${dto.groupId}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="submit">엑셀 생성</button>
        </form>
        <form action="/modifyGroup" method="post">
            <input type="hidden" name="groupId" th:value="${dto.groupId}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="submit">수정</button>
        </form>
        <form action="/deleteGroup" method="post">
            <input type="hidden" name="groupId" th:value="${dto.groupId}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="submit">삭제</button>
        </form>
    </section>

    <script id="receipt-response-template" type="text/x-handlebars-template">
        {{#each view_list}}
            <tr>
                <td>{{receipt_date}}</td>
                <td>{{receipt_name}}</td>
                <td>{{receipt_amount}}</td>
            </tr>
        {{/each}}
    </script>
    <script id="save-template" type="text/x-handlebars-template">
        <form action="/save" method="post" id="utilForm">
            <input type="hidden" name="groupId" th:value="${dto.groupId}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="submit">엑셀 생성</button>
        </form>
    </script>

</div>
<th:block layout:fragment="script">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.js"></script>
    <script th:inline="javascript">
        $(document).ready(function() {
            var uploadFile = $('.fileBox .uploadBtn');
            uploadFile.on('change', function(){
                if(window.FileReader){
                    var filename = $(this)[0].files[0].name;
                } else {
                    var filename = $(this).val().split('/').pop().split('\\').pop();
                }
                $(this).siblings('.fileName').val(filename);
            });
        });

        $('.fileName').on('click' , function(){
            $('.fileChanger').trigger('click');
        });

        function checkFileType(filePath) {
            var fileFormat = filePath.split(".");
            if (fileFormat.indexOf("xlsx") > -1) {
                return true;
            } else if (fileFormat.indexOf("xls") > -1) {
                return true;
            } else {
                return false;
            }
        }

        function check() {
            var file = $("#excelFile").val();
            if (file == "" || file == null) {
                alert("파일을 선택해주세요.");
                return false;
            } else if (!checkFileType(file)) {
                alert("엑셀 파일만 업로드 가능합니다.");
                return false;
            }

            if (confirm("업로드 하시겠습니까?")) {
                var options = {
                    success : function(data) {
                        if (data != null) {
                            console.log("data :: ",data);
                            let receipt = Handlebars.compile(
                                $('#receipt-response-template').html(),
                            );
                            let save = Handlebars.compile(
                                $('#save-template').html(),
                            );
                            let inputResponse = {
                                view_list: data,
                            };
                            $('.receiptTable tbody').empty();
                            $('.receiptTable tbody').append(receipt(inputResponse));
                            $('#utilForm').remove();
                            $('#utilSection').prepend(save);

                            $('#receiptCollapse').collapse('show');

                            alert("모든 데이터가 업로드 되었습니다.");
                        } else {
                            alert("업로드가 실패하였습니다.");
                        }
                    },
                    type : "POST"
                };
                $("#excelUploadForm").ajaxSubmit(options);

            }
        }

        function down() {

            let url = "upload/";
            let fileName = "excelUpload.xlsx";
            let oriFileName = "sample_업로드.xlsx";

            location.href = "/common/fileDown/?fileUrl="
                + encodeURIComponent(url) + "&fileName="
                + encodeURIComponent(fileName) + "&oriFileName="
                + encodeURIComponent(oriFileName);
        }
    </script>
</th:block>

</body>
</html>
